In [1]:
print("Day1 Of Python")

Day1 Of Python

In [2]:
List=["Apple","Dog","Cat"]

print(List)

['Apple', 'Dog', 'Cat']

**APPEND**

- Append Adds Items At The Last

In [ ]:


List.append("Iphone")

print(List)

['Apple', 'Dog', 'Cat', 'Iphone']

**Pop**

- *pop()*: It removes the last element from the list.
- *pop(2)*: It removes the l element at second index from the list.

In [5]:
List.pop()
print(List)

['Apple', 'Dog', 'Cat']

#Insert

- Adds Items At Given Index

In [7]:
List.insert(2,["I Love Sia",7])
print(List)

['Apple', 'Dog', ['I Love Sia', 7], 'Cat']

**Extend**

- Adds Multiple Items One By One

In [8]:
List.extend([1,2,3,2,5])
print(List)

['Apple', 'Dog', ['I Love Sia', 7], 'Cat', 1, 2, 3, 2, 5]

**Remove**

- Removes The First occurence Of The Elemenet

In [9]:
List.remove(2)
print(List)

['Apple', 'Dog', ['I Love Sia', 7], 'Cat', 1, 3, 2, 5]

**Python List Methods**

- **append(x)**: Add single element to end.
- **extend(iterable)**: Add all elements of iterable to end.
- **insert(i, x)**: Insert x at index i.
- **pop() / pop(i)**: Remove and return last or i-th item.
- **remove(x)**: Remove first occurrence of x.
- **clear()**: Remove all elements.
- **index(x)**: Return index of first x.
- **count(x)**: Count occurrences of x.
- **sort()**: Sort list ascending.
- **sort(reverse=True)**: Sort list descending.
- **reverse()**: Reverse list in place.
- **copy()**: Return shallow copy.

In [11]:
List.reverse()
print(List)

[5, 2, 3, 1, 'Cat', ['I Love Sia', 7], 'Dog', 'Apple']

**SLICING**

-list[start:stop:step]

In [ ]:
Nums=[1,5,3,7,2]
#Prints First 3 Items
print(Nums[:3])

[1, 5, 3]

In [15]:
#Prints First 2 to 4th index Items
print(Nums[2:6])

[3, 7, 2]

In [ ]:
Nums.sort()
#Sorts In Ascending
print(Nums)

[1, 2, 3, 5, 7]

In [ ]:
Nums[1:5:2]
#Prints Items From index1 to 4 with step 2

[2, 5]

** Prints Squares From 0-9**

In [ ]:
Squares=[x**2 for x in range(10)]
print(Squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

 **Print Even Numbers**

In [24]:
Even_Nums=[x for x in range(20) if x%2==0]
Even_Nums

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Built In Functions

** Lambda**

- *(lambda x:x**x,num)*
- It  applies the  function to the element

In [ ]:
#LAMBDA


Square=[lambda num:num*2,5]
Square

[<function __main__.<lambda>(num)>, 5]

**MAP**

- It Iterates and applies the function to every element

In [38]:
Numbers=[1,2,3,4,5]
#Adding 5 to every element
New_Num=list(map(lambda x:x+5,Numbers))
New_Num

[6, 7, 8, 9, 10]

In [40]:
#Squaring Every Element
Square=list(map(lambda num:num*num,New_Num))
Square

[36, 49, 64, 81, 100]

**Every Element in The list above is int and we can concert to str using map**

In [44]:
type(Square[1])

int

**Converting To String**

In [46]:
Square=list(map(str,Square))
type(Square[1])

str

**ZIP**

- It Combines Items Of Same Index from multiple lists

In [49]:
Names=["Iphone","Sneakers","Ice Cream"]
Price=[80000,7000,50]
Items=list(zip(Names,Price))
Items

[('Iphone', 80000), ('Sneakers', 7000), ('Ice Cream', 50)]

**Filter**

- It gives output after filtering the items based on condition

In [54]:
# Lets Take list rnagin 1-10 and then square every element and then print only odd numbers
Sample=list(range(1,11))
Sample

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
Squares_Samples=list(map(lambda x:x*x,Sample))
Squares_Samples

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
Odd=list(filter(lambda x:x%2==1,Squares))
Odd

[1, 9, 25, 49, 81]

**Enumerate**

- It gives index and value of the Items

In [58]:
Books=["The Secret","The Psychology Of Money","Stat Quest","Think Like A Monk"]

for Ind,Val in enumerate(Books):
    print(Ind,Val)

0 The Secret
1 The Psychology Of Money
2 Stat Quest
3 Think Like A Monk